<%- include("partials/header") %>

    
    <div class = "main-container">
        <main> 
            <% if(!locals.news){ %>
                <div class = "NoNews">
                    Search for results lol
                </div>
            <% }else{ %>
                <% for(element of news){ %>
                    <div style="font-size: 1rem;" class = "s_news">
                        <div style="font-size: 1rem;"> <%= element.publishedAt %> </div>  
                        <div style="font-size: 1rem;"> <%= element.title %> </div>
                        <div style="font-size: 1rem;"> <%= element.description %> </div>
                        <div style="font-size: 1rem;"> <img height = "300" widht = "300" src = "<%= element.urlToImage %>" alt = "news image"/> </div>
                        <div style="font-size: 1rem;"><a href = <%= element.url %> > source </a></div>  
                    </div>
                    <br/>
                    <br/>
                    
                <% } %>
            <% } %>
        </main>
    </div>
    

<%- include("partials/footer") %>