<%- include("partials/header") %>

    
    <div class = "main-container">
        <main> 
            <% if(!locals.news){ %>
                <div class = "NoNews">
                    Search for results lol
                </div>
            <% }else{ %>
                <% for(element of news){ %>
                    <div class = "s_news">
                        <div class = "main_date"> <%= element.publishedAt %> </div>  
                        <div class = "main_title"> <a href = <%= element.url %> > <%= element.title %> </a></div>
                        <div class = "main_description"> <%= element.description %> </div>
                        <div class = "main_img"> <img height = "300" width = "600" src = "<%= element.urlToImage %>" alt = "NEWS image" onerror="this.onerror=null; this.src='images/img_not_found.png';"/> </div>
                    </div>
                    <br/>
                    <br/>
                    
                <% } %>
            <% } %>
        </main>
    </div>
    

<%- include("partials/footer") %>